<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Empty page</title>
   
    <header class="header">
        
      <div class="logo_nav">
          <ul >
             <li>
              <img class="logo" src="https://kinotoday.ru/upload/iblock/fbd/fbdb93e2b25b029b159064ce4117153a.jpg">
           </a></li>
        
  
            <li class="menu_item">
              <a href="index.html" class="menu_link">Основна сторінка</a>
            </li>
            <li class="menu_item">
              <a href="registration.html" class="menu_link">Реєстрація</a>
            </li>
            <li class="menu_item">
              <a href="new.post.html" class="menu_link">Стаття</a>
            </li>
            <li class="menu_item">
              <a href="contakts.html" class="menu_link">Контакти</a>
            </li>
          
        
            <form class="example" action="index.html" >
             <input type="text" placeholder="Пошук..." name="search" >
             <button type="submit" ><i class="fa fa-search"></i></button>
             <select class="filter" id="select">
               <option value="Жанр" name="filter" selected>Жанр</option>
               <option value="Країна" name="filter">Країна</option>
               <option value="Рік" name="filter">Рік</option>
               <option value="Актор" name="filter">Актор</option>
               <option value="Трейлер" name="filter">Трейлер</option>
            </select>
            </form>
          </ul>
      </div>
      
  </header>   
  <footer>
    <hr>
    <div class="wrapper">     
      <div class="contacts" id="contacts">
        <h5><b>Контакти :</b></h5>
        <p><b>Email:</b> <a href="mailto: didyk.anna@student.uzhnu.edu.ua" class="nolinkdesign">didyk.anna@student.uzhnu.edu.ua</a></p>
        <p><b>Telegram/Viber: </b><a href="tel: +380509910074" class="nolinkdesign" >+380509910074</a></p>
        <p><b>Instargam:</b><a href="https://www.instagram.com/anna_.didyk/" class="nolinkdesign">anna_.didyk</a></p>
              
      </div>
  
  </footer>

</body>
</html>